html {
    box-sizing: border-box;
    font-size: 60.5%;
}


/* 1200px / 16px = 75em */
@media (max-width: 75em) {
    html {
      font-size: 60%;
      background-repeat: no-repeat;
    }
  }
  
  /* 980px / 16px = 61.25em */
  @media (max-width: 61.25em) {
    html {
      font-size: 58%;
      background-repeat: no-repeat;
    }
  }
  
  /* 460px / 16px = 28.75em */
  @media (max-width: 28.75em) {
    html {
      font-size: 55%;
      background-repeat: no-repeat;
    }
  }

body {
  background-color: black;
  width: 250px;
  height: auto;
  overflow-x: hidden; /* remove a barra de scroll linha horizontal */
}

img {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 500px;
}

.container {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
    word-wrap: break-word;
    min-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    background: transparent;
  }

@media (max-width: 28.75em) {
  body {
    justify-content: center;
    text-align: center;
    margin: 0 0rem;
    font-size: 2rem;
    background-repeat: no-repeat;
  }
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}

footer {
  position: absolute; /* deixa o footer no center e embaixo */
  bottom: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  color: white;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: white;
}